@media screen and (min-width: 580px) {
	.whoAreWeParagraph {
		/* background-color: #f8f8f8; */
		font-family: 'Lemon Milk Light';
		font-style: normal;
		font-weight: 300;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		min-height: 244px;
		padding-left: 226px;
		padding-right: 226px;
		padding-top: 24px;
		margin-top: 300px;
		margin-bottom: 285px;
	}
}
@media screen and (max-width: 579px) {
	.whoAreWeParagraph {
		font-family: 'Lemon Milk Light';
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
		min-height: 244px;
		padding-left: 5vh;
		padding-right: 5vh;
		padding-top: 24px;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}
}

.whoAreWeLineContainer {
	/* background-image: url('../../../../assets/svg/top.svg'); */
	/* height: 62vh; */
	background-repeat: no-repeat;
	width: auto;
	background-position: center;
	background-size: cover;
	/* position: fixed;

	top: 0;
	left: 0; */
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	z-index: 0.5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 660 515' fill='none' preserveAspectRatio='xMidYMax meet' %3E%3Cpath d='M4.00018 1C3.82258 159.264 135.861 201.31 202 199C202 199 640 199 622 199C604 199 654 199 654 231C654 263 654 435 654 435C654 435 664 467 622 467C580 467 28.0002 467 28.0002 467C28.0002 467 4.00018 467 4.00018 515' stroke='%23F4A306' stroke-width='8' /%3E%3C/svg%3E");
}
/* svg {
	display: sticky;
	height: 100%;
	z-index: 0.75;
} */
