.heroImage {
	background-image: url('../../../assets/images/BG_Image.jpeg');
	padding-top: 196px;
	height: 95vh;
	background-repeat: no-repeat;
	width: auto;
	background-position: center;
	background-size: cover;
}

.heroContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: inherit;
}
.heroTitleText {
	font-family: 'Lemon Milk Light';
	color: #ffffff;
}

.heroTextContainer {
	font-family: 'Lemon Milk Light';
	color: #ffffff;
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 81px;
	text-align: center;
}

.heroLine {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 10px;
	width: 10px;
	height: 400px;
}

.heroButtonAndLine {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
}
.styleButton {
	display: block;
	border-radius: 0px;
	height: 75px;
	width: 251px;
	background-color: #fff;
	color: #000;
	font-family: 'Lemon Milk Light';
	font-size: 20px;
	line-height: 27px;
	border: '1px solid black';
	font-weight: 300;
	box-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25)';
}
.styleButton:hover {
	background-color: #f4a306;
	border: '1px solid #0195BA';
}
.styleButton:focus {
	background-color: #f4a306;
	border: '1px solid #0195BA';
}
.styleButton:active {
	border: '1px solid #0195BA';
}
.styleButton:disabled {
	background-color: 'rgba(0,0,0,0)';
	color: #c1c1c1;
	border: '1px solid #C1C1C1';
	cursor: 'not-allowed';
	pointer-events: 'visible';
}
